<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>Board Read</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Read
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Bno</span>
                        <input type="text" class="form-control" th:value="${dto.bno}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Title</span>
                        <input type="text" class="form-control" th:value="${dto.title}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Content</span>
                        <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Writer</span>
                        <input type="text" class="form-control" th:value="${dto.writer}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">RegDate</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">ModDate</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>

                    <div class="my-4">
                        <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                            <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">List</button>
                            </a>
                            <a th:href="|@{/board/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">Modify</button>
                            </a>
                        </div>
                    </div>
                </div><!--end card body-->

                <div class="col"> <!--원본 이미지 표시-->
                    <div class="card" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                        <img class="card-img-top"
                             th:each="fileName: ${dto.fileNames}"
                             th:src="|/view/${fileName}|">
                    </div>
                </div>
            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->

    <div class="row mt-3"> <!--댓글 추가 버튼 시작-->
        <div class="col-md-12">
            <div class="my-4 ">
                <button class="btn btn-info  addReplyBtn">ADD REPLY</button>
            </div>
            <ul class="list-group replyList">
            </ul>
        </div>
    </div>
    <div class="row mt-3"> <!--댓글 페이지 수 표시-->
        <div class="col">
            <ul class="pagination replyPaging">
            </ul>
        </div>
    </div> <!--댓글 추가 버튼 끝-->

    <div class="modal registerModal" tabindex="-1"><!--댓글 등록 창 시작-->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register Reply</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Reply Text</span>
                        <input type="text" class="form-control replyText" >
                    </div>
                    <div class="input-group mb-3" th:with="user=${#authentication.principal}"> <!--로그인 한 사용자만 보이도록-->
                        <span class="input-group-text">Replyer</span>
                        <input type="text" class="form-control replyer" th:value="${user.username}" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary registerBtn">Register</button>
                    <button type="button" class="btn btn-outline-dark closeRegisterBtn" >Close</button>
                </div>
            </div>
        </div>
    </div><!-- 댓글 등록 창 끝 -->

    <div class="modal modifyModal" tabindex="-1"> <!--댓글 수정 창 시작-->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title replyHeader"></h5> <!--댓글 번호를 출력하는 부분-->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Reply Text</span> <!--댓글 내용을 입력하는 레이블-->
                        <input type="text" class="form-control modifyText" > <!--댓글 내용을 입력하는 입력 필드-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info modifyBtn">Modify</button> <!--수정 버튼-->
                    <button type="button" class="btn btn-danger removeBtn">Remove</button> <!--삭제 버튼-->
                    <button type="button" class="btn btn-outline-dark closeModifyBtn">Close</button> <!--닫기 버튼-->
                </div>
            </div>
        </div>
    </div> <!--댓글 수정창 끝 -->
    
  
    <!--Axios 사용-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/reply.js"></script>
</div> <!--end layout fragement-->


<script layout:fragment="script" th:inline="javascript">
    //자신이 작성한 댓글만 수정/삭제가 되도록 로그인한 사용자의 아이디를 변수로 저장
    const currentUser = [[${#authentication.principal.username}]]

    const bno = [[${dto.bno}]]
   
    const replyList = document.querySelector('.replyList') //댓글 목록 DOM
    const replyPaging = document.querySelector('.replyPaging') //페이지 목록 DOM

    function printList(dtoList){ //댓글 목록 출력
        let str = '';

        if(dtoList && dtoList.length > 0){

            for (const dto of dtoList) {

                str += `<li class="list-group-item d-flex replyItem">
                      <span class="col-2">${dto.rno}</span>
                      <span class="col-6" data-rno="${dto.rno}">${dto.replyText}</span>
                      <span class="col-2">${dto.replyer}</span>
                      <span class="col-2">${dto.regDate} </span>
                    </li>`
            }
        }
        replyList.innerHTML = str
    }

    function printPages(data){ //페이지 목록 출력

        //pagination
        let pageStr = '';

        if(data.prev) {
            pageStr +=`<li class="page-item"><a class="page-link" data-page="${data.start-1}">PREV</a></li>`
        }

        for(let i = data.start; i <= data.end; i++){
            pageStr +=`<li class="page-item ${i == data.page?"active":""} "><a class="page-link" data-page="${i}">${i}</a></li>`
        }

        if(data.next) {
            pageStr +=`<li class="page-item"><a class="page-link" data-page="${data.end +1}">NEXT</a></li>`
        }
        replyPaging.innerHTML = pageStr
    }
    
    //Axios 결과를 가져오면 아래 함수에 전달함
    //댓글 목록을 출력
    function printReplies(page,size,goLast){

        getList({bno, page,size, goLast}).then(
            data => { 
                printList(data.dtoList) //목록 처리
                printPages(data) //페이지 처리
            }
        ).catch(e => {
            console.error(e)
        })

    }
    
    printReplies(1, 10, true) //마지막 댓글을 보겠다...

    //댓글 등록 모달창 이름
    const registerModal = new bootstrap.Modal(document.querySelector(".registerModal")) 

    //DOM 객체 미리 등록
    const registerBtn = document.querySelector(".registerBtn") //댓글 등록 버튼
    const replyText = document.querySelector(".replyText") //댓글 본문
    const replyer = document.querySelector(".replyer") //댓글 등록자 이름
    const closeRegisterBtn = document.querySelector(".closeRegisterBtn") //댓글 등록 취소 버튼

    //add reply 버튼 클릭 이벤트시 모달 보여주기
    document.querySelector(".addReplyBtn").addEventListener("click", function(e) {
        registerModal.show()
    }, false)

    //close 버튼 클릭 이벤트시 모달 닫기
    closeRegisterBtn.addEventListener("click", function(e){
        registerModal.hide()
    })

    //댓글 등록 버튼
    registerBtn.addEventListener("click", function(e){
        const replyObj = {
            bno:bno,
            replyText:replyText.value,
            replyer:replyer.value}

        addReply(replyObj).then(result => {
            alert(result.rno) //게시물 번호 알림
            registerModal.hide() //모달 창 닫기
            replyText.value = '' //댓글 초기화 
            replyer.value = '' //댓글 작성자 초기화
            printReplies(1, 10, true) //댓글 목록 갱신
        }).catch(e => {
            alert("Exception....")
        })
    }, false)

    //댓글 페이징
    let page = 1 // 페이지 번호 초기값 설정
    let size = 10 // 페이지 크기 초기값 설정

    replyPaging.addEventListener("click", function(e){
        e.preventDefault() // 기본 클릭 동작 방지
        e.stopPropagation() // 이벤트 전파 방지

        const target = e.target
        if(!target || target.tagName != 'A') {
            return // 타겟이 존재하지 않거나 태그 이름이 'A'가 아닌 경우 함수 종료
        }

        const pageNum = target.getAttribute("data-page") // 클릭한 페이지 번호 가져오기
        page = pageNum // 현재 페이지 변수에 할당
        printReplies(page, size)  // 페이지 번호와 페이지 크기를 인자로 받아서 함수 호출
    }, false) //addEventListener 의 3번째 인자로 사용되는 값으로 false시 캡처링 단계에서의 동작 방식을 설정하는데 사용 

    //댓글 수정 모달 창
    const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal")) //수정 모달 객체 생성

    //자주 쓰는 요소 미리 등록
    const replyHeader = document.querySelector(".replyHeader") //댓글 헤더 요소
    const modifyText = document.querySelector(".modifyText") //수정할 댓글 내용 입력
    const modifyBtn = document.querySelector(".modifyBtn") //수정 버튼
    const removeBtn = document.querySelector(".removeBtn") //삭제 버튼
    const closeModifyBtn = document.querySelector(".closeModifyBtn") //수정 모달 닫기

    let hasAuth = false // 댓글의 작성자와 currentUser의 일치 여부


    //댓글 조회
    replyList.addEventListener("click", function (e){

        e.preventDefault() //기본 클릭 동작 방지
        e.stopPropagation() //이벤트 전파 방지

        const target = e.target

        if(!target || target.tagName != 'SPAN'){
            return 
        }

        const rno = target.getAttribute("data-rno")

        if(!rno){
            return //댓글 번호가 없는 경우 함수 종료
        }

        getReply(rno).then(reply => { //해당 댓글 번호로 서버로 부터 댓글 내용 가져오기

            console.log(reply)
            replyHeader.innerHTML = reply.rno //댓글 헤더에 댓글 번호 출력
            modifyText.value = reply.replyText //수정할 댓글 내용 입력 요소에 댓글 내용 설정
            modifyModal.show() //수정 모달 표시

            hasAuth = currentUser === reply.replyer //댓글의 작성자와 현재 사용자 일치 여부 확인

        }).catch(e => alert('error')) //에러시 알림 출력

    },false)


    //댓글 수정
    modifyBtn.addEventListener("click", function(e) {

        if(!hasAuth){
            alert("댓글 작성자만 수정이 가능합니다.")
            modifyModal.hide()
            return
        }

        const replyObj = {
            bno:bno, //게시물 번호
            rno:replyHeader.innerHTML, //수정할 댓글 번호
            replyText:modifyText.value} //수정된 댓글 내용

        modifyReply(replyObj).then(result => {
            alert(result.rno+' 댓글이 수정되었습니다.') //수정 완료 알림
            replyText.value = '' //댓글 입력란 초기회
            modifyModal.hide() //수정 모달 닫기
            printReplies(page, size) //댓글 목록 갱신

        }).catch(e => {
            console.log(e) //에러 발생시 로그 출력
        })
    },false)

    closeModifyBtn.addEventListener("click", function(e){

        modifyModal.hide()

    }, false)

    //댓글 삭제
    removeBtn.addEventListener("click", function(e) {

        if(!hasAuth){
            alert("댓글 작성자만 삭제가 가능합니다.")
            modifyModal.hide()
            return
        }

        removeReply(replyHeader.innerHTML).then(result => {
            alert(result.rno + ` 댓글이 삭제 되었습니다. `)
            replyText.value = ''
            modifyModal.hide()

            page = 1 //이 부분이 없다면 원래 페이지로

            printReplies(page, size)      
        }).catch(e => {
            console.log(e)
        })
    }, false)
   
</script>
